.dark-mode {
  background-color: black;
  color: rgb(0, 255, 0);
}

.dark-mode a:link {
  color: rgb(238, 255, 0);
}

.dark-mode a:visited {
  color: rgb(157, 192, 0);
}

.dark-mode a:hover {
  color: rgb(255, 0, 0);
}

.dark-mode a:active {
  color: rgb(255, 255, 0);
}

.dark-mode .main-header {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(9, 255, 0);
}

.dark-mode #dark_light_btn {
  border: 1px solid blue;
  color: blue;
}

.dark-mode #dark_light_btn:hover {
  border: 1px solid yellow;
  background-color: rgb(74, 213, 255);
  color: yellow;
}

#dark_light_btn:hover {
  border: 2px solid rgb(0, 255, 0);
}

.dark-mode input[type="button"] {
  background-color: black;
  border: 2px solid greenyellow;
  border-radius: 3px;
  color: greenyellow;
}

.dark-mode input[type="button"]:hover {
  background-color: greenyellow;
  color: black;
}

.dark-mode hr {
  color: greenyellow;
  border: 0;
  border-top: 1px solid greenyellow;
}

.dark-mode #dark_light_lnk {
  color: greenyellow;
}

.dark-mode #hamburguer-icon {
  background-image: url("/assets/png/dark-hamburguer.png");
}
