@import "header.css";
@import "darkmode.css";

body {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

.main-content {
  padding: 10px;
}

a:hover {
  color: green;
}

button, input[type="button"] {
  font-size: 1.1rem;
}
