@import "header.css";
@import "darkmode.css";

body {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

.main-content {
  padding: 10px;
}

a:hover {
  color: green;
}

.pagination {
  margin-top: 30px;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: #4CAF50;
}

.search-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.generate-pdf-container {
  margin-top: 30px;
}

.note-container {
  margin-top: 30px;
  display: flex;
  flex-flow: row;
}

.note-img {
  width: 150px;
  min-width: 150px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 12px;
  margin-right: 20px;
}

.note-header, .note-footer {
  width: 150px;
  text-align: center;
}

.note-footer {
  margin-top: 20px;
}

.note-content {
  margin: 10px 0px;
}

.note-content h3 {
  margin-top: 0;
}

@media screen and (max-width: 600px){
  .note-container {
    display: block;
    text-align: center;
  }

  .note-header, .note-footer {
    width: 100%;
    text-align: center;
  }

  .note-img {
    margin: auto;
  }

  .note-content, .note-footer {
    margin: 0 0;
  }

  .note-content h3 {
    margin-top: 20px;
  }

  .note-content p {
    text-align: justify;
    margin-bottom: 0;
  }
}

#file-label {
  font-size: medium;
}
